body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.site-navigation {
  line-height: 26px;
  list-style: none;
  background-color: #ffffff;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.top-background {
  background-color: #e2eff8;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.slogan {
  font-size: 21px;
  line-height: 26px;
}

.subtitle-reasons-list {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.reasons-list,
.services-list {
  list-style: none;
}

.reasons-list h3 {
  font-size: 21px;
  line-height: 21px;
}

.reasons-list p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.services-list {
  background-color: #f2f2f2;
}

.services-list h4 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.reason-1,
.reason-2 {
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-1 p,
.reason-2 p {
  color: #ffffff;
}

.calm-city-background {
  width: 800px;
  height: 256px;
  background-color: #a5b29f;
}

.services-list p {
  color: #333333;
}

.residence::before {
  content: "";
  background-image: url("../img/icon-house.svg");
}

.devil-bridge-background {
  width: 800px;
  height: 256px;
  background-color: #e4b19b;
}

.interested-question {
  font-size: 30px;
  line-height: 36px;
}

.search-hotels-form {
  display: none;
}

.footer-contacts {

}