body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  text-transform: inherit;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-wrapper {
  position: relative;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  margin: 0 auto;
}

.main-header {
  min-height: 56px;
}

.main-navigation {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
}

.site-navigation {
  display: flex;
  line-height: 26px;
  list-style: none;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  width: 240px;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.nav-link:hover,
.nav-link:focus {
  color: #81b3d2;
}

.nav-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-link.active {
  color: #766357;
}

.top-background {
  min-height: 510px;
  background-color: #e2eff8;
  background-image:
    url("../img/background-decoration.svg"),  
    url("../img/background-photo.jpg");
  background-position:
    bottom center,
    center -55px;
  background-repeat:
    no-repeat,
    no-repeat;
    padding-top: 77px;
}

.top-background img {
  display: block;
  margin: 0 auto;
}

.subtitles-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.interested-question {
  margin-bottom: 15px;
}

.text-select-date {
  margin-bottom: 54px;
}

.subtitles-reasons-container {
  min-height: 216px;
  justify-content: center;
}

.subtitles-map {
  min-height: 291px;
  justify-content: flex-end;
}

.subtitles-map button {
  width: 568px;
  height: 86px;
  background-color: #766357;
  box-shadow: 0 10px 20px 0 rgba(0, 1, 1, 0.25);
}

.subtitles-map button:hover,
.subtitles-map button:focus {
  background-color: #604e43;
}

.subtitles-map button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.slogan {
  font-size: 21px;
  line-height: 26px;
}

.subtitle-reasons-list {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.reasons-list,
.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons-list h3 {
  font-size: 21px;
  line-height: 21px;
}

.reasons-list p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.services-list {
  display: flex;
  background-color: #f2f2f2;
}

.item-service {
  width: 400px;
}

.services-list h4 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.wrap-reason-title {
  width: 400px;
  color: #ffffff;
  background-color: #81b3d2;
}

div.calm-city-background img {
  display: block;
}

.wrap-reason-title h3, p {
  margin: 0;
}

.reason-1 p,
.reason-2 p {
  color: #ffffff;
}

.reason-1 {
  display: flex;
  flex-wrap: wrap;
}

.services-list p {
  color: #333333;
}

.interested-question {
  font-size: 30px;
  line-height: 36px;
}

.text-select-date {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.search-hotels-form {
  display: none;
}

.main-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  min-height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.tel-number {
  color: #000000;
}

.social-icons-list {
  display: flex;
  list-style: none;
}

.copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.background-form {
  min-height: 177px;
  background-color: #e2eff8;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center -50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-center {
  padding-left: 72px;
  padding-right: 72px;
}

.desc-form {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.desc-form label {
  font-size: 14px;
  font-weight: 400;
}

.text-found-hotels {
  font-size: 21px;
  line-height: 26px;
}

.text-sort-hotels {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-list-right {
  margin: 0;
  padding: 0;
}

.sort-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.sort-link:hover,
.sort-link:focus {
  color: #81b3d2;
}

.sort-link:active {
  color: #000000;
}

.sort-link.active {
  color: #81b3d2;
}

.sort-list-right {
  list-style: none;
}

.found-hotels-list {
  list-style: none;
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 120px;
}

.title-hotels {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.title-hotels:hover,
.title-hotels:focus {
  color: #81b3d2;
}

.title-hotels:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.rating-scale {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
}

.buttons-found-list {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.buttons-found-list:active {
  color: rgba(255, 255, 255, 0.3);
}

.item-hotels {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.button-blue {
  display: inline-block;
  width: 110px;
  height: 21px;
  background-color: #81b3d2;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-brown {
  display: inline-block;
  width: 142px;
  height: 21px;
  background-color: #766357;
  box-shadow: 0 10px 20px 0 rgba(0, 1, 1, 0.25);
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.miniature-hotels {
  display: block;
  width: 135px;
  height: 90px;
}

.wrap-desc {
  flex-grow: 1;
  outline: 2px solid green;
}

.wrap-rating {
  width:  110px;
  outline: 2px solid yellow;
}

.container-left {
  outline: 2px solid blue;
}

.container-right {
  outline: 2px solid brown;
}

.container-hotels {
  display: flex;
}

.wrap-desc h2 {
  margin: 0;
}